@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewBag.Title = "Admin Login";
}

<h2>Welcome to the Admin Home Page</h2>

<form asp-action="Login" asp-controller="Admin" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control w-50" name="username" id="username" placeholder="Enter username">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control w-50" name="password" id="password" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>