<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jobinator</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">Jobinator</a>
            <button type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="User" asp-action="Registration">Register</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="User" asp-action="Login">Login</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="User" asp-action="DeleteAccount">Delete account</a>
                </li>

            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        &copy; 2024 - Jobinator - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    <script src="~/js/script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
