@{
    ViewData["Title"] = "Are you sure you want to delete your account?";
}
<form method="post" class="d-flex justify-content-center">
    <input class="form-control me-2" type="password" name="password" placeholder="Enter your password" aria-label="Password" style="width: 300px;">
    <button class="btn btn-danger" type="submit">Delete account</button>
</form>