@{
    ViewData["Title"] = "Are you sure you want to delete your account?";
}
<form method="post">
    <input type="password" name="password" placeholder="Enter your passowrd" />
    <input type="submit" value="Delete account" />
</form>