
@{
    ViewData["Title"] = "Registration";
}

<form method="post">
    <input type="text" name="username" placeholder="Input your usernname" />

    <input type="text" name="name" placeholder="Input your name" />

    <input type="text" name="surname" placeholder="Input your surname" />

    <input type="password" name="password" placeholder="Create your password" />

    <input type="password" name="passwordCheck" placeholder="Enter your password again" />

    <input type="submit" value="Create account"/>
</form>