
@{
    ViewData["Title"] = "Registration";
}

<form method="post">
    <div class="container mt-5 w-50">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-primary text-white text-center">
                <h2 class="mb-0">Create Your Account</h2>
            </div>
            <div class="card-body">
                <form method="post" class="p-3">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" name="username" placeholder="Input your username" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label for="name" class="form-label">First Name</label>
                        <input type="text" id="name" name="name" placeholder="Input your name" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label for="surname" class="form-label">Last Name</label>
                        <input type="text" id="surname" name="surname" placeholder="Input your surname" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" name="password" placeholder="Create your password" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label for="passwordCheck" class="form-label">Confirm Password</label>
                        <input type="password" id="passwordCheck" name="passwordCheck" placeholder="Enter your password again" class="form-control" required />
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary w-50 m-auto">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form> 