@model Jobinator.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Registration";
}

<div class="container mt-5 w-50">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="mb-0">Create Your Account</h2>
        </div>
        <div class="card-body">
            <form asp-action="Registration" method="post" class="p-3">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Username" class="form-label"></label>
                    <input asp-for="Username" placeholder="Input your username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" placeholder="Input your name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Surname" class="form-label"></label>
                    <input asp-for="Surname" placeholder="Input your surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" placeholder="Create your password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="PasswordCheck" class="form-label"></label>
                    <input asp-for="PasswordCheck" placeholder="Enter your password again" class="form-control" />
                    <span asp-validation-for="PasswordCheck" class="text-danger"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary w-50 m-auto">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
