@{
    ViewData["Title"] = "Registration";
}

<form method="post">
    <input type="text" name="Name" placeholder="Your Nickname"/>
    <br />
    <input type="password" name="Password" placeholder="Your Password" />
    <br />
    <input type="password" name="PasswordAgain" placeholder="Repeat Your Password" />
    <br />
    <input type="submit" value="Register" />
</form>
