@{
    ViewData["Title"] = "Find other users";
}

<form asp-action="Search" method="get">
    <input type="text" name="query" placeholder="Search for a user" />
    <input type="submit" value="Search" />
</form>