@{
    ViewData["Title"] = "Find other users";
}

<form method="post">
    <input type="text" name="UserToFind" placeholder="Type user you want to find" />

    <input type="submit" value="Search" />
</form>